.cart {
  background-color: #ffe0b3;
  padding: 20px;
  position: sticky;
  top: 0;
  height: 100vh;
}
.cart h2 {
  text-align: center;
}
.cart p {
  font-size: 17px;
}
.btn-clear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  font-size: 1.2rem;
  width: 90%;
  margin: 10px auto;
  border-radius: 4px;
  background-color: #ff3030;
  color: white;
}
